h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
}

#book-reviews {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.book-box {
    background-color: #F9F8F0;
    display: flex;
    flex-direction: column;
    flex-basis: 25vw;
    margin: 6vh 1vw;
    border: solid black;
    border-width: 2px;
    border-radius: 7px;

    transition: all 0.5s ease-out;
}

.book-box:hover {
    transform:scale(1) rotate(5deg) translate(10px, 10px);
    transform-origin:center;
}

/*BOOK-BOX CONTENT*/
h3 {
    margin: 20px 20px;
    font-size: 1.2rem;;
}

.star-img {
    width: 50%;
    margin: 0px 20px;
}

.book-text {
    margin: 15px 20px;
    flex-grow: 1;
}

button {
    background-color: #493B31;
    color: #F9F8F0;
    border: solid #493B31;
    border-width: 2px;
    border-radius: 5px;
    width: 25%;
    text-align: center;
    margin: 15px 20px;
    padding: 10px 0px;
    
    cursor: pointer;
    transition: all 0.2s ease-out;
}

button:hover {
    border-color: #DBD6BC;
    background-color: #DBD6BC;
    color: #181410;
}

/*BOOK IMAGES AND BACKGROUND*/
.book-img-box {
    overflow: hidden;
    position: relative;
    border-bottom: solid #181410;
    border-width: 2px;
}

.book-background {
    opacity: 0.3;
    position: absolute;
    width: 100%;
}

.book-img{
    position: relative;
    width: 30%;
    display: block;
    margin: 10px auto;

    box-shadow: 10px 5px 10px #181410;
}

/*PHONE SCREEN*/
@media (320px <= width <= 599px) {
    h1 {
        margin: 3vh 0;
    }

    #book-reviews {
        display: flex;
        flex-direction: column;
        margin: 0 5vw;
    }
    
    .book-box {
        margin: 1.5vh 0;
    }

    .book-box:hover {
        transform: none;
    }
}

/*TABLET SCREEN*/
@media (600px <= width <= 768px) {
    #book-reviews {
        display: flex;
        flex-direction: column;
        margin: 0 15vw;
    }

    .book-box {
        margin: 5vh 0;
    }

    .book-box:hover {
        transform: none;
    }
}