.intro {
    overflow: hidden;
    position: relative;
}

#home-background {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: auto;
}

.intro-content {
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-title {
    font-size: 4em;
}

#intro-text {
    width: 50%;
    text-align: justify;
    text-align-last: center;
    margin: 40px 0px 50px 0px;
    font-size: 1.3em;
}

#intro-link {
    padding: 10px 20px;
    text-decoration: none;
    border: solid #181410;
    margin: 0px 5px;
    border-width: 2px;
    border-radius: 4px;
    font-size: 1.3em;
    transition: all 0.2s ease-out;
}

#intro-link:hover {
    text-decoration: underline;
    background-color: #181410;
    color:#F9F8F0;
}