/*FOR HOME AND FORM ACCEPT*/
main {
    background-image: url("/images/bookshelf-background.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

/*INTRO*/
#intro-text {
    width: 50%;
    text-align: justify;
    text-align-last: center;
    margin: 5vh 0px;
    font-size: 1.3rem;
}

.intro-link {
    padding: 10px 20px;
    color: #181410;
    text-decoration: none;
    border: solid #181410;
    margin: 0px 5px;
    border-width: 2px;
    border-radius: 4px;
    font-size: 1.3rem;
    transition: all 0.2s ease-out;
}

.intro-link:hover {
    border-color: #CA9F7D;
    background-color: #CA9F7D;
    color:#F9F8F0;
}

/*MOBILE SCREEN*/
@media (width <= 1000px) {
    /*FOR HOME AND FORM ACCEPT*/
    main {
        background-size: cover;
    }
}

@media (320px <= width <= 768px) {
    h1 {
        font-size: 3rem;
    }
    
    #intro-text {
        width: 80%;
        font-size: 1.3rem;
    }
}
