@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0px;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #181410;
}

main {
    background-color: #F9F8F0;
}

/**NAVIGATIE**/

header {
    border-bottom: solid #181410;
    border-width: 2px;
    background-color: #CA9F7D;
    padding: 20px 0px;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
}

#nav-logo {
    width: 40px;
    float: left;
    margin-left: 5vw;
}

.nav-a {
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #181410;
    transition: all 0.3s ease-out;
    font-weight: 600;
}

.nav-a:hover {
    color: #F0E0D0;
    background-color: #181410;
    border-radius: 4px;
    text-decoration: underline;
}

/**FOOTER**/
footer {
    width: 100%;
    background-color: #181410;
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box {
    margin: 0vh 5vw;
}

#foot-logo {
    width: 40px;
    margin-bottom: 30px;
}

#foot-text {
    color: white;
    font-size: 0.8em;
}

.foot-img {
    width: 40px;
    margin: 15px 5px 0px 5px;
}

.foot-a {
    text-decoration: none;
    color: #FCF8F3;
    padding: 0px 20px;
}

.foot-a:hover {
    text-decoration: underline;
}